# Ignore node_modules folder
node_modules

# Ignore log files
*.log
package-*.json
# Ignore npm debug log
npm-debug.log*

# Ignore Yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log

# Ignore development and test files
/test
/coverage
